form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.boxc {
  height : 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: white;
}
